
<div id="footer-instagram">
			<ul class="instagram-pics instagram-size-small">
				<li class=""><a href="https://www.instagram.com/preepix/" target="_blank" rel="noopener me">
					<img loading="lazy" decoding="async"  src="images/insta/insta-1.jpg" alt="Preepix photography" />
				</a></li>
				<li class=""><a href="https://www.instagram.com/preepix/" target="_blank" rel="noopener me">
					<img loading="lazy" decoding="async"  src="images/insta/insta-2.jpg" alt="Preepix photography" />
				</a></li>
				<li class=""><a href="https://www.instagram.com/preepix/" target="_blank" rel="noopener me">
					<img loading="lazy" decoding="async"  src="images/insta/insta-3.jpg" alt="Preepix photography" />
				</a></li>
				<li class=""><a href="https://www.instagram.com/preepix/" target="_blank" rel="noopener me">
					<img loading="lazy" decoding="async"  src="images/insta/insta-4.jpg" alt="Preepix photography" />
				</a></li>
				<li class=""><a href="https://www.instagram.com/preepix/" target="_blank" rel="noopener me">
					<img loading="lazy" decoding="async"  src="images/insta/insta-5.jpg" alt="Preepix photography" />
				</a></li>
				<li class=""><a href="https://www.instagram.com/preepix/" target="_blank" rel="noopener me">
					<img loading="lazy" decoding="async"  src="images/insta/insta-6.jpg" alt="Preepix photography" />
				</a></li>
				<li class=""><a href="https://www.instagram.com/preepix/" target="_blank" rel="noopener me">
					<img loading="lazy" decoding="async"  src="images/insta/insta-7.jpg" alt="Preepix photography" />
				</a></li>
				<li class=""><a href="https://www.instagram.com/preepix/" target="_blank" rel="noopener me">
					<img loading="lazy" decoding="async"  src="images/insta/insta-8.jpg" alt="Preepix photography" />
				</a></li>
			</ul>
			<p class="clear">
  <a href="https://www.instagram.com/preepix/" target="_blank" rel="noopener me">
    Follow us on Instagram
  </a>
</p>
		</div>
<footer>
		<div class="container">
			<div class="footer-widgets">
				<div class="row">
					<div class="col-md-4">
						<div class="foo-block">
							<div class="widget widget-footer widget_text">
								<h5 class="widgettitle">About Me</h5>
								<div class="textwidget">
									<p>
									<p>
										Preepix is a Metro Vancouver-based photography brand led by Pawan, capturing
										authentic moments with creativity and passion — turning memories into timeless
										stories.
									</p>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="foo-block">
							<div class="widget widget-footer widget_text">
								<h5 class="widgettitle">Contact</h5>
								<div class="textwidget">
									<div class="textwidget">
										<p>Sunshine Hill<br> Surrey, BC</p>
										<a href="https://matchthemes.com/cdn-cgi/l/email-protection"
											class="__cf_email__"
											data-cfemail="1e7d71706a7f7d6a5e7b667f736e727b307d7173">info@preepix.ca</a>
										</p>
										<p>OR</p>
										<p><a href="packages.html" class="view-more white-btn">
												Get a Call Back
											</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="foo-block foo-last">
							<div class="widget_text widget widget-footer widget_custom_html">
								<h5 class="widgettitle">Quick Links</h5>
								<div class="textwidget custom-html-widget">
									<ul>
										<li> <a href="index.html">Home</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="gallery.html">Portfolio</a></li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="footer-copy"> Copyright &copy; 2026 <a href="noorixlabs.ca">Noorix Labs</a>. All rights
					reserved.</div>
			</div>
		</div>
	</footer>
    <div class="scrollup">
		<a class="scrolltop" href="#">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>