<div class="menu-mask"></div>

<div class="mobile-menu-holder">
	<div class="modal-menu-container">
		<div class="exit-mobile">
			<span class="icon-bar1"></span>
			<span class="icon-bar2"></span>
		</div>

		<ul class="menu-mobile">
			<li class="menu-item"><a href="index.html">Home</a></li>
			<li class="menu-item"><a href="gallery.html">Portfolio</a></li>
			<li class="menu-item"><a href="packages.html">Photography Packages</a></li>
			<li class="menu-item"><a href="about.html">About</a></li>
			<li class="menu-item"><a href="contact.html">Book a Session</a></li>
		</ul>
	</div>
</div>

<header class="main-header header-1">
	<div class="container">
		<div class="header-container">

			<div class="logo logo-1 logo-white">
				<a href="index.html" aria-label="Preepix Photography home">
					<img class="img-fluid" src="images/preepix-nav.png" alt="Preepix Photography">
				</a>
			</div>

			<div class="logo logo-1 logo-dark">
				<a href="index.html" aria-label="Preepix Photography home">
					<img class="img-fluid" src="images/preepix-nav.png" alt="Preepix Photography">
				</a>
			</div>

			<nav class="nav-holder nav-holder-1" aria-label="Main navigation">
				<ul class="menu-nav">
					<li class="menu-item current-menu-item">
						<a href="index.html">Home</a>
					</li>

					<li class="menu-item">
						<a href="gallery.html">Portfolio</a>
					</li>

					<li class="menu-item">
						<a href="packages.html">Photography Packages</a>
					</li>

					<li class="menu-item">
						<a href="about.html">About</a>
					</li>

					<li class="menu-item">
						<a href="contact.html">Book a Session</a>
					</li>
				</ul>
			</nav>

			<div class="nav-button-holder">
				<button type="button" class="nav-button" aria-label="Open mobile menu">
					<span class="icon-bar"></span>
				</button>
			</div>

			<ul class="social-media header-social-1" aria-label="Social media links">
				<li>
					<a class="social-instagram" href="https://www.instagram.com/preepix/" target="_blank" rel="noopener"
						aria-label="Preepix Photography on Instagram">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
			</ul>

		</div>
	</div>
</header>